<template>
    <button v-on:click="clickButton" class="btn btn-primary" type="submit">{{ label }}</button>
</template>

<script>
    export default {
        props: ['label'],
        methods: {
            clickButton(){
                this.$emit('clickButton');
            }
        }
    }

</script>
