<template>
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">

            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            show() {
                $('#loadingModal').modal('show');
            },
            hide() {
                $('#loadingModal').modal('hide');
            }
        }
    }

</script>
