<template>
    <div id="message" class="alert alert-dismissible fade show" :class="type"  role="alert">
        <strong>{{textBold}}</strong>{{text}}
        <button @click="close" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        props: ['textBold','text','type'],
        methods: {
            close(){
                this.$emit('close-message');
            }
        }
    }

</script>
