<template>
    <div>
        <loading ref="loading"></loading>
        <ticket-form-modal v-on:send-ticket="sendTicket" :email="email" ref="ticketFormModal"></ticket-form-modal>
        <message v-if="message.show" :type="message.type" :textBold="message.textBold" :text="message.text"></message>
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
            <div class="text-white">Segnalazioni</div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="border-bottom border-gray pb-2 mb-0 font-weight-bold">Segnalazioni Recenti</div>

            <div v-for="ticket in tickets.data" class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{ ticket.user.name}} |
                        <span class="text-info">{{ ticket.created_at }}</span>
                    </strong>
                    {{ ticket.text }}
                </p>
            </div>
            <div class="row pt-3">
                <div class="col-6">
                    <pagination :data="tickets" @pagination-change-page="getResults"></pagination>
                </div>
                <div class="col-6 text-right">
                    <generic-button v-if="user.role_id != 1" v-on:clickButton="showModal" :label="'Aggiungi una Segnalazione'"></generic-button>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return {
                tickets: {},
                email: this.user.email,
                text: "",
                message:{
                    show: false,
                    type:"",
                    textBold:"",
                    text:"",
                },

            }
        },
        methods: {
            getResults(page = 1) {
                this.showLoading()
                axios.get('/tickets/list?page=' + page)
                    .then(response => {
                        this.hideLoading();
                        this.tickets = response.data;
                    });
            },
            sendTicket(text){
                this.closeModal();
                this.showLoading();
                axios.post('/tickets',
                {
                    text: text
                })
                .then(response => {
                    this.hideLoading();
                    this.showMessage("alert-success","Segnalazione Inoltrata"," Verrà presa in carico al più presto");
                })
                .catch(function (error) {
                    this.showMessage("alert-danger","Errore!"," Si è verificato un problema, riprovare più tardi.");
                });
            },
            closeMessage(){
                this.showMessage = false;
            },
            showModal(){
                this.$refs.ticketFormModal.showModal();
            },
            closeModal(){
                this.$refs.ticketFormModal.closeModal();
            },
            showLoading(){
                this.$refs.loading.show();
            },
            hideLoading(){
                this.$refs.loading.hide();
            },
            showMessage(type,textBold,text)
            {
                this.message.type = type;
                this.message.textBold = textBold;
                this.message.text = text;
                this.message.show = true;
            }
        },
        created() {
                Echo.private('ticket')
                    .listen('TicketSended', (e) => {
                        this.showMessage("alert-primary","Nuova Segnalazione"," È stata inserita una nuova segnalazione!");
                        this.getResults();
                    });
        },
        mounted(){
            this.getResults();
        }
    }
</script>
