<template>
    <div class="modal fade" id="ticketFormModal" tabindex="-1" role="dialog" aria-labelledby="ticketFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuova Segnalazione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" :value="email" disabled>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Messaggio:</label>
                            <textarea class="form-control" id="text" name="text" v-bind:class="{ 'is-invalid' : errorText}" v-model="text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-primary" v-on:click="sendTicket">Invia</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['email'],
        data(){
            return{
                errorText: false,
                text: ""
            }
        },
        methods:{
            showModal(){
                $('#ticketFormModal').modal('show');
            },
            closeModal(){
                $('#ticketFormModal').modal('hide');
            },
            sendTicket(){
                //console.log(this.text);
                if(this.text == "")
                {
                    this.errorText = true;
                }
                else{
                    this.$emit('send-ticket',this.text);
                }

            }
        }
    }

</script>
