<template>
    <div>
        <loading ref="loading"></loading>
        <user-form-modal :roles="roles" v-on:send-form="sendForm" ref="userFormModal"></user-form-modal>
        <message v-if="message.show" :type="message.type" :textBold="message.textBold" :text="message.text"></message>
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
            <div class="text-white">Utenti</div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="border-bottom border-gray pb-2 mb-0 font-weight-bold">Lista Utenti</div>

            <div v-for="user in users.data" class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">Email: {{ user.email}} | <span class="text-info">Username: {{ user.name }}</span>
                    </strong>
                </p>
            </div>
            <div class="row pt-3">
                <div class="col-6">
                    <pagination :data="users" @pagination-change-page="getResults"></pagination>
                </div>
                <div class="col-6 text-right">
                    <generic-button v-on:clickButton="showModal" :label="'Nuovo Utente'"></generic-button>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        props: ['user','roles'],
        data(){
            return {
                users: {},
                text: "",
                message:{
                    show: false,
                    type:"",
                    textBold:"",
                    text:"",
                },

            }
        },
        methods: {
            getResults(page = 1) {
                this.showLoading()
                axios.get('/users/list?page=' + page)
                    .then(response => {
                        this.hideLoading();
                        this.users = response.data;
                    });
            },
            sendForm(text){
                this.closeModal();
                this.showLoading();
                axios.post('/users',
                    {
                        text: text
                    })
                    .then(response => {
                        this.hideLoading();
                        this.showMessage("alert-success","Nuovo Utente"," Utente inserito con successo!");
                    })
                    .catch(function (error) {
                        this.showMessage("alert-danger","Errore!"," Si è verificato un problema, riprovare più tardi.");
                    });
            },
            showModal(){
                this.$refs.userFormModal.showModal();
            },
            closeModal(){
                this.$refs.userFormModal.closeModal();
            },
            showLoading(){
                this.$refs.loading.show();
            },
            hideLoading(){
                this.$refs.loading.hide();
            },
            showMessage(type,textBold,text)
            {
                this.message.type = type;
                this.message.textBold = textBold;
                this.message.text = text;
                this.message.show = true;
            },
            closeMessage(){
                this.showMessage = false;
            },
        },
        mounted(){
            this.getResults();
        }
    }
</script>
