<template>
    <div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="userFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuovo Utente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" id="name" required>

                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username" required>

                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email">

                            <label for="email" class="col-form-label">Ruolo:</label>
                            <select name='role' class="form-control">
                                <option v-for="role in roles" value="role.id">{{role.name}}</option>
                            </select>

                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password">

                            <label for="password-confirm" class="col-form-label">Conferma Password:</label>
                            <input type="password" class="form-control" id="password-confirm">


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-primary" v-on:click="sendUser">Invia</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['roles'],
        data(){
            return{
                errorText: false,
                text: ""
            }
        },
        methods:{
            showModal(){
                $('#userFormModal').modal('show');
            },
            closeModal(){
                $('#userFormModal').modal('hide');
            },
            sendUser(){
                if(this.text == "")
                {
                    this.errorText = true;
                }
                else{
                    this.$emit('send-form',this.text);
                }

            }
        }
    }

</script>
